<p id="notice"><%= notice %></p>

<p>
  <strong>Fio:</strong>
  <%= @contact.fio %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Acc:</strong>
  <%= @contact.acc_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
